
@{
    ViewBag.Title = "EPrescribe";
}
<h2>
    Why E-Prescibe?
</h2>
<hr />
<div class="row">
    <div class="col-sm-10">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Why E-Prescribe?</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Eliminate the time, paper and other costs associated with writing paper prescriptions.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Do away with inane, redundant phone calls and faxes to pharmacies.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Submit error-free prescriptions to virtually any pharmacy directly at the point of care.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Streamline refill requests and authorization processes.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Prescribe anywhere, anytime with our e-prescribing app for the iPhone™ and Android based smart devices.
                </p>

            </div>
        </div>
    </div>
</div>


<!-- Next Panel -->


<div class="row">
    <div class="col-sm-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Improve the overall quality of care for your patients</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Avoid the risk of error due to illegible handwritten prescriptions
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Provide instant and accurate information.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Benefit from warning and alert systems.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    patients can refill their prescriptions no matter where they are.
                </p>

            </div>
        </div>
    </div>
</div>


<!-- Next Panel -->
<div class="row">
    <div class="col-sm-10">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h3 class="panel-title">Improve the overall quality of care for your patients</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Avoid the risk of error due to illegible handwritten prescriptions
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Provide instant and accurate information.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Benefit from warning and alert systems.
                </p>
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    patients can refill their prescriptions no matter where they are.
                </p>

            </div>
        </div>
    </div>
</div>

