@model ElectronicRX2._1.Models.PrescriptionViewModel


<div class="row">
    <div class="col-md-7">
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorFName"></label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorAddress"> </label>
            <label id="doctorCity">  </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorState">  </label>
            <label id="doctorZip">  </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorPhoneNumber">  </label>
        </div>
    </div>
    <div class="col-md-2">
        <img src="~/Content/Images/rx-symbol.jpg" width="100" />
    </div>
    <div class="col-md-3">
        <label id="writtenDatelbl">  </label>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-3">
        <h4><b>Patient : </b></h4>
    </div>
    <div class="col-md-9">
        <div class="row">
            &nbsp;&nbsp;
            <label id="patientFNamelbl"></label>
            <label id="patientLastNamelbl"> ,</label>
            <label id="patientDOBlbl"> ,</label>
            <label id="patientGenderlbl"></label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="patientAddresslbl"> </label>
            <label id="patientCitylbl">  </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="patientStatelbl">  </label>
            <label id="patientZiplbl">  </label>
        </div>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-3">
        <h4><b>Drug : </b></h4>
    </div>
    <div class="col-md-9">
        <div class="row">
            &nbsp;&nbsp;
            <label id="drugNamelbl"></label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> SIG: </label>
            </div>
            <div class="col-md-6">
                <label id="siglbl"></label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Quantity: </label>
            </div>
            <div class="col-md-6">
                <label id="quantitylbl"></label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Days Supply: </label>
            </div>
            <div class="col-md-6">
                <label id="dayslbl"></label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Refill: </label>
            </div>
            <div class="col-md-6">
                <label id="refillslbl"></label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Subsitution Allowed: </label>
            </div>
            <div class="col-md-6">
                <label id="dawlbl"></label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Units: </label>
            </div>
            <div class="col-md-6">
                <label id="unitslbl"></label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Comments: </label>
            </div>
            <div class="col-md-6">
                <label id="commentslbl">Use Fruits</label>
            </div>
        </div>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-3">
        <h4><b>Pharmacy : </b></h4>
    </div>
    <div class="col-md-9">
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyNamel">CVS/Pharmacy#2762</label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> ID: </label>
            </div>
            <div class="col-md-6">
                <label id="pharmacyIdl">3195131</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyAddressl"> Satellite Town </label>
            <label id="pharmacyCityl"> Rawalpindi </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyStatel"> Punjab </label>
            <label id="pharmacyZipl"> 46000 </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyNumberl"> 0092345123456 </label>
        </div>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-8">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-md-4">
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fill Rx</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    

</div>

