

<div class="row">
    <div class="col-md-7">
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorFName">Moeen</label>
            <label id="doctorLName">Ali</label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorAddress">Muslim Town </label>
            <label id="doctorCity"> Rawalpindi </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorState"> Punjab </label>
            <label id="doctorZip"> 46000 </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="doctorPhoneNumber"> 009234512345 </label>
        </div>
    </div>
    <div class="col-md-2">
        <img src="~/Content/Images/rx-symbol.jpg" width="100" />
    </div>
    <div class="col-md-3">
        <label id="writtenDatelbl"> 11-12-2015 </label>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-3">
        <h4><b>Patient : </b></h4>
    </div>
    <div class="col-md-9">
        <div class="row">
            &nbsp;&nbsp;
            <label id="patientFNamelbl">Moon</label>
            <label id="patientLastNamelbl">Ahmed ,</label>
            <label id="patientDOBlbl">1048 ,</label>
            <label id="patientGenderlbl">Male</label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="patientAddresslbl">Muslim Town </label>
            <label id="patientCitylbl"> Rawalpindi </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="patientStatelbl">  </label>
            <label id="patientZiplbl">  </label>
        </div>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-3">
        <h4><b>Drug : </b></h4>
    </div>
    <div class="col-md-9">
        <div class="row">
            &nbsp;&nbsp;
            <label id="drugNamelbl">Lipitor 20 mg Tablet</label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> SIG: </label>
            </div>
            <div class="col-md-6">
                <label id="siglbl">One Tablet Daily</label>
            </div>            
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Quantity: </label>
            </div>
            <div class="col-md-6">
                <label id="quantitylbl">30</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Days Supply: </label>
            </div>
            <div class="col-md-6">
                <label id="dayslbl">9</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Refill </label>
            </div>
            <div class="col-md-6">
                <label id="refillslbl">1</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Subsitution Allowed: </label>
            </div>
            <div class="col-md-6">
                <label id="dawlbl">yes</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Units: </label>
            </div>
            <div class="col-md-6">
                <label id="unitslbl">tablets</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> Comments: </label>
            </div>
            <div class="col-md-6">
                <label id="commentslbl">Use Fruits</label>
            </div>
        </div>
    </div>
</div>
<legend></legend>
<div class="row">
    <div class="col-md-3">
        <h4><b>Pharmacy : </b></h4>
    </div>
    <div class="col-md-9">
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyNamel">CVS/Pharmacy#2762</label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <div class="col-md-4">
                <label> ID: </label>
            </div>
            <div class="col-md-6">
                <label id="pharmacyIdl">3195131</label>
            </div>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyAddressl"> Satellite Town </label>
            <label id="pharmacyCityl"> Rawalpindi </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyStatel"> Punjab </label>
            <label id="pharmacyZipl"> 46000 </label>
        </div>
        <div class="row">
            &nbsp;&nbsp;
            <label id="pharmacyNumberl"> 0092345123456 </label>
        </div>
    </div>
</div>

